body{
}

.footer{
    padding: 50px 0;
    text-align: center;
}

.vertical-separator{
    padding: 40px 0;
}

#item-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#item-table td, #appointments th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

#item-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#item-table tr:hover {
    background-color: #ddd;
}

#item-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #505050;
    color: white;
}