<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Item</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Cart Item</h1>

<span>ID:</span>
<span th:text="${cartItem.id}">1</span>
<br/>
<span>Name:</span>
<span th:if="${cartItem.itemType}" th:text="${cartItem.itemType.name}">Banana</span>
<span th:unless="${cartItem.itemType}" th:text="'<NULL>'">Banana</span>
<br/>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>