<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Items</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Cart Items</h1>
<br/>
<a href="cart_Item_create.html" th:href="${#mvc.url('CIVC#create').build()}">Create a CartItem</a>
<br/>
<div class="vertical-separator"></div>
<table id="item-table">
    <tr>
        <th>Id</th>
        <th>Item Name</th>
        <th>Ammount</th>
        <th></th>
    </tr>
    <tr th:each="cartItem : ${cartItems}">
        <td th:text="${cartItem.id}">1</td>
        <td th:if="${cartItem.itemType}" th:text="${cartItem.itemType.name}">Banana</td>
        <td th:unless="${cartItem.itemType}" th:text="'<NULL>'">Banana</td>
        <td th:text="${cartItem.amount}">1</td>
        <td><a th:href="${(#mvc.url('CIVC#edit').arg(0,cartItem.getId()).build())}">Edit</a></td>
    </tr>
</table>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>