<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Item</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Cart Item</h1>

<h1 th:unless="${cartItem.id}" th:text="'Create Cart Item'">Create Cart Item</h1>
<h1 th:if="${cartItem.id}" th:text="'Edit Cart Item'">Edit Cart Item</h1>

<form action="#" th:action="@{${action}}" th:object="${cartItem}" method="post">
    <label for="amount">Amount:</label>
    <br/>
    <input id="amount" type="number" th:field="*{amount}"/>
    <br/>
    <input type="submit" value="Submit"/>
</form>


<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>