<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Category</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Item Category</h1>
<span>ID:</span>
<span th:text="${itemCategory.id}">1</span>
<br/>
<span>Name:</span>
<span th:text="${itemCategory.name}">Food</span>
<br/>

<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>