<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Categories</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Item Categories</h1>
<br/>
<a href="cart_Item_create.html" th:href="${#mvc.url('ICVC#create').build()}">Create an ItemCategory</a>
<br/>
<div class="vertical-separator"></div>
<table id="item-table">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th></th>
    </tr>
    <tr th:each="category : ${itemCategories}">
        <td th:text="${category.id}">1</td>
        <td th:text="${category.name}">Food</td>
        <td><a th:href="${(#mvc.url('ICVC#edit').arg(0,category.getId()).build())}">Edit</a></td>
    </tr>
</table>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>