<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Category</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Item Category</h1>

<h1 th:unless="${itemCategory.id}" th:text="'Create Cart Item'">Create Cart Item</h1>
<h1 th:if="${itemCategory.id}" th:text="'Edit Cart Item'">Edit Cart Item</h1>

<form action="#" th:action="@{${action}}" th:object="${itemCategory}" method="post">
    <label for="name">Name:</label>
    <br/>
    <input id="name" type="text" th:field="*{name}"/>
    <br/>
    <input type="submit" value="Submit"/>
</form>


<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>