<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Type</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<h1>Item Type</h1>

<h1 th:unless="${itemType.id}" th:text="'Create Item Type'">Create Item Type</h1>
<h1 th:if="${itemType.id}" th:text="'Edit Item Type'">Edit Item Type</h1>

<form action="#" th:action="@{${action}}" th:object="${itemType}" method="post">
    <label for="name">Name:</label>
    <br/>
    <input id="name" type="text" th:field="*{name}"/>
    <br/>
    <input type="submit" value="Submit"/>
</form>


<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>