<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Shopping Cart</h1>

<span>ID:</span>
<span th:text="${shoppingCart.id}">1</span>
<br/>
<span>Items:</span>
<br/>
<span th:if="${shoppingCart.cartItems}">
            <table>
                <tr th:each="cartItem : ${shoppingCart.cartItems}">
                    <td th:if="${cartItem.itemType}" th:text="${cartItem.itemType.name}">Banana</td>
                    <td th:unless="${cartItem.itemType}" th:text="'<NULL>'">Banana</td>
                </tr>
            </table>
</span>
<div class="vertical-separator"></div>
<div class="footer">DEMO!!</div>
</body>
</html>